body {
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.backgroundCover {
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 200, 0.4);
    background-image:
        linear-gradient(rgba(255, 180, 190, 0.5) 40%, transparent 0%), 
        linear-gradient(rgba(255, 180, 190, 0.5) 40%, transparent 0%);
    background-size: 7.5px 7.5px;
    position: fixed;
} 

.arrow {
    z-index: 3;
    position: fixed;
    width: auto;
    height: 10%;
    mix-blend-mode: multiply;
    filter: hue-rotate(90deg) brightness(500%) blur(5px);
    animation-name: rightArrow;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes downArrow {
    0% {transform: translateY(-10vh); opacity: 75%;}
    100% {transform: translateY(110vh); opacity: 10%;}
}

@keyframes upArrow {
    0% {transform: translateY(110vh); opacity: 75%;}
    100% {transform: translateY(-10vh); opacity: 10%;}
}

@keyframes rightArrow {
    0% {transform: translateX(-20vw); opacity: 75%;}
    100% {transform: translateX(110vw); opacity: 10%;}
}

@keyframes leftArrow {
    0% {transform: translateX(110vw); opacity: 75%;}
    100% {transform: translateX(-20vw); opacity: 10%;}
}

.bulletin {
    z-index: 4;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5vh;
    margin-bottom: 0px;
    background-color: rgba(255, 180, 190, .9);
    border-radius: 20px 20px 0 0;
    border: 5px groove;
    border-color: rgba(0, 0, 200, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bulletin :is(h1, h2, h3, h4, h5, h6) {
    color: white;
    font-size: clamp(1.25rem, 3.5vw, 60px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bulletin p {
    color: white;
    font-size: clamp(0.75rem, 2.25vw, 50px);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    margin-top: 0;
}

.searchBar {
    z-index: 4;
    position: relative;
    float: left;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 200, 1);
    display: flex;
    padding: 10px 10vw;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

.songCard {
    z-index: 4;
    position: relative;
    float: left;
    height: clamp(100px, 10vw, 150px);
    width: 75vw;
    margin-left: calc(50vw - (75vw / 2));
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(0.7rem, 1.75vw, 2rem);
    overflow: visible;
    border-radius: 10px;
    background-color: rgba(255, 180, 190, .75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(0px);
    border: solid;
    border-color: rgba(0, 0, 200, .5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.songImage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.songName {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.songPack {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.newStamp {
    background-image: url("media/newStamp.png");
    background-size: contain;
    filter: hue-rotate(195deg) brightness(100%);
    flex: 0;
    position: absolute;
    right: -50px;
    top: clamp(-50px, -5vw, -75px);
    width: 100px;
    height: 100px;
    overflow: visible;
}

.hidden {
    display: none;
}